In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [ ]:
pip install kaggle

In [7]:
india_df = pd.read_csv("Data/CVD_india_data_raw.csv")  # Saving CSV into DF

In [15]:
# once done and tested add to functions.py thingy
def check_missings(df):
    missing_values = df.isna().sum()
    print("\nMISSINGS:")
    for col, count in missing_values.items():
        if count > 0:
            print(f"col '{col}': {count} missings")
        else:
            print(f"col '{col}': no missings")

def check_unique(df):
    print("\nUNIQUE VALUESs:")
    unique_counts = {}
    for col in df.columns:
        unique_values = df[col].unique()
        unique_counts[col] = unique_values
        print(f"col '{col}': {len(unique_values)} unique vals")
        if len(unique_values) <= 10:
            print(f"col '{col}' unique vals: {unique_values}")

check_missings(india_df)
check_unique(india_df)

MISSINGS:
col 'patientid': no missings
col 'age': no missings
col 'gender': no missings
col 'chestpain': no missings
col 'restingBP': no missings
col 'serumcholestrol': no missings
col 'fastingbloodsugar': no missings
col 'restingrelectro': no missings
col 'maxheartrate': no missings
col 'exerciseangia': no missings
col 'oldpeak': no missings
col 'slope': no missings
col 'noofmajorvessels': no missings
col 'target': no missings

UNIQUE VALUESs:
col 'patientid': 1000 unique vals
col 'age': 61 unique vals
col 'gender': 2 unique vals
col 'gender': unique vals: [1 0]
col 'chestpain': 4 unique vals
col 'chestpain': unique vals: [2 0 1 3]
col 'restingBP': 95 unique vals
col 'serumcholestrol': 344 unique vals
col 'fastingbloodsugar': 2 unique vals
col 'fastingbloodsugar': unique vals: [0 1]
col 'restingrelectro': 3 unique vals
col 'restingrelectro': unique vals: [1 0 2]
col 'maxheartrate': 129 unique vals
col 'exerciseangia': 2 unique vals
col 'exerciseangia': unique vals: [0 1]
col 'oldpeak': 63 unique vals
col 'slope': 4 unique vals
col 'slope': unique vals: [3 1 2 0]
col 'noofmajorvessels': 4 unique vals
col 'noofmajorvessels': unique vals: [3 1 0 2]
col 'target': 2 unique vals
col 'target': unique vals: [1 0]

In [4]:
india_df

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3,1
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1,0
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2,1
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9949544,48,1,2,139,349,0,2,183,1,5.6,2,2,1
996,9953423,47,1,3,143,258,1,1,98,1,5.7,1,0,0
997,9965859,69,1,0,156,434,1,0,196,0,1.4,3,1,1
998,9988507,45,1,1,186,417,0,1,117,1,5.9,3,2,1
999,9990855,25,1,0,158,270,0,0,143,1,4.7,0,0,0