Importing relevent libraries

In [1]:
import pandas as pd 
from cleaning import *  # Import all functions from cleaning
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi  # Import Kaggle Api
import zipfile

In [ ]:
# Initiliaze API 

api = KaggleApi()
api.authenticate()
api.model_list_cli()

# Donwload Dataset via API unzipped

api.dataset_download_files(dataset="alexteboul/heart-disease-health-indicators-dataset", unzip=True)

# Saving DataSets into DF
usa_df = pd.read_csv("heart_disease_health_indicators_BRFSS2015.csv")
india_df = pd.read_csv("./Data/CVD_india_data_raw.csv")

Cleaning and Transforming Data

In [8]:
# Synchronize matching columns
usa_df.columns = usa_df.columns.str.lower()
india_df.columns = india_df.columns.str.lower()

In [23]:
# Aligning Dtypes

usa_df = usa_df.apply(lambda x:x.astype(int))
india_df = india_df.apply(lambda x:x.astype(int, errors= "ignore"))

In [24]:
# Checking and konsolodate the columns

# Renaming India columns
india_df = india_df.rename(columns={"target":"heartdiseaseorattack"})

# Renaming usa columns
usa_df = usa_df.rename(columns={"sex":"gender"})

In [25]:
# assgning gender 
# sacrificing performance for readibility in this case int to object

gender = {
    1:"m",
    0:"f"
}
india_df["gender"] = india_df["gender"].map(gender)  
usa_df["gender"] = usa_df["gender"].map(gender)

In [26]:
india_df

,patientid,age,gender,chestpain,restingbp,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,heartdiseaseorattack
0,103368,53,m,2,171,0,0,1,147,0,5,3,3,1
1,119250,40,m,0,94,229,0,1,115,0,3,1,1,0
2,119372,49,m,2,133,142,0,0,202,1,5,1,0,0
3,132514,43,m,0,138,295,1,1,153,0,3,2,2,1
4,146211,31,m,1,199,0,0,2,136,0,5,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9949544,48,m,2,139,349,0,2,183,1,5,2,2,1
996,9953423,47,m,3,143,258,1,1,98,1,5,1,0,0
997,9965859,69,m,0,156,434,1,0,196,0,1,3,1,1
998,9988507,45,m,1,186,417,0,1,117,1,5,3,2,1
999,9990855,25,m,0,158,270,0,0,143,1,4,0,0,0

In [27]:
usa_df

,heartdiseaseorattack,highbp,highchol,cholcheck,bmi,smoker,stroke,diabetes,physactivity,fruits,...,anyhealthcare,nodocbccost,genhlth,menthlth,physhlth,diffwalk,gender,age,education,income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,f,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,f,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,f,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,f,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,f,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,1,1,1,45,0,0,0,0,1,...,1,0,3,0,5,0,m,5,6,7
253676,0,1,1,1,18,0,0,2,0,0,...,1,0,4,0,0,1,f,11,2,4
253677,0,0,0,1,28,0,0,0,1,1,...,1,0,1,0,0,0,f,2,5,2
253678,0,1,0,1,23,0,0,0,0,1,...,1,0,3,0,0,0,m,7,5,1
253679,1,1,1,1,25,0,0,2,1,1,...,1,0,2,0,0,0,f,9,6,2

Clean Data

In [28]:
india_df

,patientid,age,gender,chestpain,restingbp,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,heartdiseaseorattack
0,103368,53,m,2,171,0,0,1,147,0,5,3,3,1
1,119250,40,m,0,94,229,0,1,115,0,3,1,1,0
2,119372,49,m,2,133,142,0,0,202,1,5,1,0,0
3,132514,43,m,0,138,295,1,1,153,0,3,2,2,1
4,146211,31,m,1,199,0,0,2,136,0,5,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9949544,48,m,2,139,349,0,2,183,1,5,2,2,1
996,9953423,47,m,3,143,258,1,1,98,1,5,1,0,0
997,9965859,69,m,0,156,434,1,0,196,0,1,3,1,1
998,9988507,45,m,1,186,417,0,1,117,1,5,3,2,1
999,9990855,25,m,0,158,270,0,0,143,1,4,0,0,0

In [29]:
# Concantenate the DataFrames

Preparing the Data Analysis

In [30]:
# Defining Hypothesis and relevant Data

In [31]:
# Transforming USA Data + Checking relevant Columns
# changing data Types to floats or in to floats

Visualizing the Data

In [32]:
# Importing relevant Liberaries

In [33]:
# Defining relevant Plots