1. Run "pip install kaggle" 

2. Move "kaggle.json" to following Path /Users/linh/.kaggle

In [ ]:
testetst

In [ ]:
testetst

Importing relevent libraries

In [148]:
import pandas as pd 
from cleaning import *  # Import all functions from cleaning

In [150]:
# Saving CSV into DF
india_df = pd.read_csv("./Data/CVD_india_data_raw.csv")
india_df.head()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3,1
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1,0
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2,1
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2,1

Clean Data

In [ ]:
# Checking columns
# Once done and tested, move functions over to cleaning.py file
def check_nan(df):
    for col in df.columns:
        if df[col].isna().sum() == 0:
            print(f'no missings in {col}')
        else:
            print(f'# missings in {col}: {col.isna().sum()}')

def check_unique(df):
    for col in df.columns:
        print('\n')
        nr_unique = df[col].nunique()
        unique = sorted(df[col].unique())
        print(f'# of unique vals in {col}: {nr_unique}')
        if nr_unique < 10:
            print(f'unique vals in {col}: {unique}')

In [ ]:
# apply functions for cleaning check
check_nan(india_df)
check_unique(india_df)

Scrape Wiki tabels

In [3]:
import requests
from bs4 import BeautifulSoup

In [145]:
# blood pressure
url = "https://en.wikipedia.org/wiki/Blood_pressure"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find("table", class_="wikitable")

categories = []
office_data = []
relevant_data = False

for row in table.find_all('tr'):
    header_cells = row.find_all('th')
    if header_cells and "European Society of Cardiology" in header_cells[0].get_text():
        relevant_data = True
        continue
    if header_cells and "European Society of Hypertension" in header_cells[0].get_text():
        relevant_data = False
        break
    if relevant_data:
        data_cells = row.find_all('td')
        if len(data_cells) > 1:  # Ensures we have enough columns
            categories.append(data_cells[0].get_text(strip=True))
            office_data.append(data_cells[1].get_text(strip=True))

bp_df = pd.DataFrame({'Category': categories, 'Office': office_data})
bp_thresh = int(bp_df[bp_df['Category'] == 'Non-elevated']['Office'].values[0].split("<")[1])
bp_thresh

120

In [135]:
# cholesterol
url = "https://en.wikipedia.org/wiki/Cholesterol"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find("table", class_="wikitable")
rows = table.find("tbody").find_all('tr')

chol_data = []
selected_rows = [1, 2, 3, 4]

for i in selected_rows:
    if i == 1:
        cell = rows[i].find('th').get_text(strip=True)
    else:
        cell = rows[i].find('td').get_text(strip=True)
    chol_data.append(cell)

chol_data
chol_thresh = int(chol_data[1].strip("< "))
chol_thresh

200

Creating new binary columns for blood pressure and cholesterol in India data which match the US data

In [162]:
india_df["HighBP"] = india_df["restingBP"].apply(lambda x: 1 if x >= bp_thresh else 0)
print(india_df["HighBP"].unique())

india_df["HighChol"] = india_df["serumcholestrol"].apply(lambda x: 1 if x >= chol_thresh else 0)
print(india_df["HighChol"].unique())

india_df.head()

[1 0]
[0 1]

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target,HighBP,HighChol
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3,1,1,0
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1,0,0,1
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0,0,1,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2,1,1,1
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2,1,1,0

In [ ]:
# Concantenate the DataFrames

Preparing the Data Analysis

In [ ]:
# Defining Hypothesis and relevant Data

Visualizing the Data

In [ ]:
# Importing relevant Liberaries

In [ ]:
# Defining relevant Plots